body {
    background-color: hsla(150, 100%, 75%, 0.85);
    font-family: 'Source Serif 4', serif;
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    margin-top: 20px;
    position: fixed;
}

.nav-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: right;
    padding-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: hsl(255, 50%, 10%);
    font-size: 20px;
}

header {
    height: 100vh;
    width: 100%;
    background: url("Images/Forest tree image.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hero-text-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.hero-paragraph {
    color: hsla(150, 100%, 75%, 0.85);
    font-size: 2vw;
    text-align: right;
    margin-right: 40px;
    margin-bottom: -5vh;
}

.hero-header {
    font-size: 10vw;
    font-weight: 400;
    text-align: right;
    display: flex;
    margin-right: 5vh;
    flex-direction: column;
    color: hsla(150, 100%, 75%, 0.85);
    text-transform: uppercase;
    margin-bottom: -5vh;


}

.colours {
    height: 100vh;
}

.colour-intro {
    margin-left: 10vw;
    font-size: 10vh;
}

.colour-paragraph {
    margin-top: -10vh;
    margin-left: 10vw;
}


.colour1 {
    margin-left: 10vw;
    color: hsl(110, 100%, 50%);
    background-color: hsl(0, 0%, 0%);
    font-size: 30px;
    font-family: 'Ovo', serif;
    width: 12.5vw;
}

.colour2 {
    margin-left: 10vw;
    background-color: hsl(110, 100%, 50%);
    font-size: 30px;
    color: hsl(0, 0%, 0%);
    font-family: 'Ovo', serif;
    width: 12.5vw;
    margin-bottom: 50vh;
}

.typography-intro {
    margin-left: 10vw;
    font-size: 10vh;
    margin-top: 20vh;
}

.typography-paragraph {
    margin-left: 10vw;
}

.h1-example-font {
    margin-left: 10vw;
    font-size: 2vw;
}

.example-font {
    margin-left: 10vw;
}

.last-example-font {
    margin-left: 10vw;
    margin-bottom: 50vh;
}

.button-intro {
    margin-left: 10vw;
    font-size: 10vh;
}

.button-paragraph {
    margin-left: 10vw;
}

.button {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 1600;
    font-style: normal;
    background-color: white;
    border: 4px hsl(255, 100%, 10%) solid;
    width: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 10vw;
    height: 4vh;
}
.button-word {
    margin-left: 21vh;
    margin-top: -49vh;
}
.active {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 1600;
    font-style: normal;
    background-color: rgb(130, 130, 150);
    border: 4px hsl(255, 100%, 10%) solid;
    width: 75px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 5vh;
    height: 4vh;

}
.active-word {
    margin-left: 37vh;
    margin-top: -6vh;
    margin-bottom: -6vh;
}
.hover {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 1600;
    font-style: normal;
    background-color: rgb(170, 170, 200);
    border: 4px hsl(255, 100%, 10%) solid;
    width: 70px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 5vh;
    height: 4vh;
    margin-bottom: 25vw;
}
.hover-word {
    margin-left: 52vh;
    margin-bottom: 25vw;
}
.footer {
    text-align: center;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 800;
    font-style: normal;
}

.link {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 800;
    font-style: normal;
    color: hsl(215, 100%, 50%);
}



.button-types {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 800;
    font-style: normal;
    display: inline;
}