body {
    background-color: hsl(180, 100%, 80%);
    font-family: 'Source Serif 4', serif;
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    margin-top: 20px;
    position: fixed;
}

.nav-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: right;
    padding-right: 40px;
}

.nav-link {
    font-family: 'Source Serif 4', serif;
    text-decoration: none;
    color: hsl(244, 45%, 29%);
    font-size: 20px;
}

header {
    height: 100vh;
    width: 100%;
    background: url("Images/Forest tree image.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hero-text-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.hero-paragraph {
    font-family: 'Source Serif 4', serif;
    color: hsl(180, 100%, 80%);
    font-size: 2vw;
    text-align: right;
    margin-right: 40px;
    margin-bottom: -5vh;
}

.hero-header {
    font-family: 'Source Serif 4', serif;
    font-size: 10vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    margin-right: 5vh;
    flex-direction: column;
    color: hsl(180, 100%, 80%);
    text-transform: uppercase;
    margin-bottom: -6.5vh;


}

.colours {
    height: 100vh;
}

.colour-intro {
    margin-left: 10vw;
    font-size: 10vh;
}

.colour-paragraph {
    margin-top: -10vh;
    margin-left: 10vw;
}


.colour1 {
    margin-left: 10vw;
    color: hsl(110, 100%, 50%);
    background-color: hsl(0, 0%, 0%);
    font-size: 50px;
    font-size: 8vh;
    font-family: 'Source Serif 4', serif;
    width: 12.5vw;
    height: 75px;
    width: 400px;
}

.colour2 {
    margin-left: 10vw;
    background-color: hsl(110, 100%, 50%);
    color: hsl(0, 0%, 0%);
    font-size: 50px;
    font-size: 8vh;
    font-family: 'Source Serif 4', serif;
    width: 12.5vw;
    height: 75px;
    width: 400px;
    margin-bottom: 50vh;
}

.typography-intro {
    margin-left: 10vw;
    font-size: 10vh;
    margin-top: 20vh;
}

.typography-paragraph {
    margin-left: 10vw;
}

.h1-example-font {
    font-family: 'Source Serif 4', serif;
    margin-left: 10vw;
    font-size: 9.5vh;
    font-weight: 800;
}

.h2-example-font {
    font-family: 'Source Serif 4', serif;
    margin-left: 10vw;
    font-size: 8.75vh;
    font-weight: 800;
}

.h3-example-font {
    font-family: 'Source Serif 4', serif;
    margin-left: 10vw;
    font-size: 6.25vh;
    font-weight: 800;
}

.h4-example-font {
    font-family: 'Source Serif 4', serif;
    margin-left: 10vw;
    font-size: 4.5vh;
    font-weight: 800;
}

.h5-example-font {
    font-family: 'Source Serif 4', serif;
    margin-left: 10vw;
    font-size: 2.75vh;
    font-weight: 800;
}

.h6-example-font {
    font-family: 'Source Serif 4', serif;
    margin-left: 10vw;
    margin-bottom: 50vh;
    font-size: 1;
}

.button-intro {
    margin-left: 10vw;
    font-size: 10vh;
}

.button-paragraph {
    margin-left: 10vw;
}

.button {
    font-style: normal;
    background-color: white;
    border: 3.5px hsl(255, 100%, 10%) solid;
    width: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 10vw;
    height: 4vh;
}

.button-word {
    margin-left: 21vh;
    margin-top: -53vh;
    margin-bottom: -6vh;
}

.active {
    font-weight: 1600;
    font-style: normal;
    background-color: white;
    border: 3.5px hsl(255, 100%, 10%) solid;
    width: 75px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 5vh;
    height: 4vh;

}

.active:hover {
    background-color: rgb(130, 130, 150);
    border: 4px hsl(255, 100%, 10%) solid;
}

.active-word {
    margin-left: 37vh;
    margin-bottom: -5.5vh;
}

.hover {
    font-weight: 1600;
    font-style: normal;
    background-color: white;
    border: 3.5px hsl(255, 100%, 10%) solid;
    width: 70px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 5vh;
    height: 4vh;
    margin-bottom: 25vw;
}

.hover:hover {
    background-color: rgb(170, 170, 200);
    border: 4px hsl(255, 100%, 10%) solid;
}

.hover-word {
    margin-left: 52vh;
    margin-bottom: 25vw;
}

.footer {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    height: 5vh;
    margin-bottom: -10vh;
}

.link {
    font-weight: 500;
    font-style: normal;
    color: hsl(215, 100%, 50%);
}