body {
    background-color: rgb(115, 207, 115);
    font-family: 'Source Serif 4', serif;
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    margin-top: 20px;
    position: fixed;
}

.nav-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: right;
    padding-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

header {
    height: 100vh;
    width: 100%;
    background: url("Images/Forest tree image.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hero-header {

    font-size: 10vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(130, 200, 100);
    text-transform: uppercase;

}

.hero-text-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.hero-paragraph {
    margin: 0;
    margin-right: 50px;
    color: rgb(130, 200, 100);
    font-size: 2vw;
    text-align: right;
}
.colour {
    font-size: 10vw;
}
.colour1 {
    color: rgb(0, 136, 255);
    background-color: hsl(240, 100%, 10%);
    font-size: 30px;
    font-family: 'Ovo', serif;
    font-size: 175%;
    width: 285px;
    left: 15px;
}

.colour2 {
    background-color: hsl(30, 70%, 10%);
    font-size: 30px;
    color: hsl(30, 70%, 50%);
    font-family: 'Ovo', serif;
    font-size: 175%;
    width: 285px;
}

.typography {
    font-family: 'Ovo', serif;
    left: 15px;
}

.footer {
    font-family: 'Quattrocento Sans', sans-serif;
}

.link {
    color: hsl(215, 100%, 50%);
}

.button-types {
    display: inline;
}

.button {
    background-color: rgb(72, 72, 255);
    border: 5px hsl(255, 100%, 10%) solid;
    width: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Ovo', serif;
}

.hover {
    background-color: rgb(90, 90, 255);
    border: 5px hsl(255, 100%, 10%) solid;
    width: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Ovo', serif;
}

.active {
    background-color: rgb(78, 75, 255);
    border: 5px hsl(255, 100%, 10%) solid;
    width: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Ovo', serif;
}

.p1 {
    font-size: 20px;
}

.colour {
    font-size: 30px;
    left: 600px;
}